.title {
    text-align: center;
  }
  
  .form {
    border: solid black 1px;
  }
  
  .elem {
    overflow: hidden;
    display: inline-block;
    width: 30px;
    height: 60px;
  }
  
  .charts {
    text-align: center;
  }
  
  .chart {
    border: solid #07a3e6 1px;
    margin: -2px;
    display: inline-block;
  }